main.cursos {
    background-image: url("../img/cursos/background.webp");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
}
main.cursos::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5%;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    pointer-events: none;
}
main.cursos .content {
    padding: 2rem 1rem;
    color: var(--color-blue);
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.3;
}
main.cursos .area-text h1.title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1rem;
    padding-bottom: 5px;
    position: relative;
}
main.cursos .area-text h1.title::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 190px;
    height: 5px;
    background-color: var(--color-bege);
    pointer-events: none;
}