body{
    overflow: hidden;
}
.content{
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}
section.page-error {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.page-error .wrapper{
    transform: translateY(-100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section.page-error .wrapper img{
    width: 750px;
    height: auto;
    object-fit: cover;
    pointer-events: none;
}
section.page-error .wrapper p{
    pointer-events: none;
    color: #000;
    margin: 25px 0;
    font-size: 20.83px;
    line-height: 1.1;
    width: 480px;
    text-align: center;
}
section.page-error .wrapper .button{
    text-decoration: none;
    font-size: 16.67px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 50px;
    border-radius: 30px;
    background: rgb(85,85,85);
    background: linear-gradient(0deg, rgba(85,85,85,1) 0%, rgba(0,0,0,1) 100%);
    color: #fff;
    transform: scale(1);
    transition: all .4s ease;
    animation: pulse_button_error 1s infinite alternate;
}
section.page-error .wrapper .button:hover{
    background: rgb(148,148,148);
    background: linear-gradient(0deg, rgba(148,148,148,1) 0%, rgba(0,0,0,1) 100%);
}
@keyframes pulse_button_error {
    to{
        transform: scale(1.05);
    }
}
@media(max-width: 468px){
    section.page-error .wrapper{
        transform: translateY(-50px);
    }
    section.page-error .wrapper img{
        width: 100%;
    }
    section.page-error .wrapper p{
        width: 100%;
    }
}