header {
    padding: 2rem;
    position: sticky;
    top: 0px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    z-index: 3;
}
header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
header a.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
header .right ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}
header .right li a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap;
    color: var(--color-blue);
    transition: transform 0.2s ease;
}
header .right li a:hover,
header .right li a.active {
    transform: scale(1.05);
    text-decoration: underline;
    color: var(--color-ciano);
}
header .content > .right {
    position: relative;
}
header .btnMobile {
    width: 30px;
    height: 25px;
    position: relative;
    cursor: pointer;
    display: none;
}
header .btnMobile span {
    transition: all .3s ease-in-out;
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: var(--color-blue);
    border-radius: 0px;
    opacity: 1;
    right: 0;
}
header .btnMobile span:nth-child(1) {
    top: 0;
}
header .btnMobile span:nth-child(2){
    top: 9px;
    width: 100%;
}
header .btnMobile span:nth-child(3) {
    top: 19px;
    width: 100%;
}
header.active .btnMobile span:nth-child(1) {
    width: 100%;
    transform: translateY(10px) rotate(45deg);
}
header.active .btnMobile span:nth-child(2) {
    width: 100%;
    opacity: 0;
}
header.active .btnMobile span:nth-child(3) {
    width: 100%;
    transform: translateY(-9px) rotate(-45deg);
}
header.active ul.navigation-links{
    transform: scaleX(1) !important;
    pointer-events: all !important;
    z-index: 99 !important;
}
@media (max-width: 1400px) {
    header .right ul {
        gap: 1rem;
    }
    header .right li a {
        font-size: 0.9rem;
    }
    header a.logo img {
        width: 280px;
        height: auto;
    }
    header {
        padding: 2rem 1rem;
    }
}
@media (max-width: 1150px) {
    header .btnMobile{
        display: flex !important;
    }
    header ul.navigation-links {
        display: flex !important;
        flex-direction: column !important;
        top: 0 !important;
        left: 0 !important;
        transform: scaleX(0) !important;
        transform-origin: left !important;
        position: fixed !important;
        width: 60% !important;
        min-width: 240px;
        row-gap: 30px !important;
        justify-content: center !important;
        align-items: start !important;
        height: 100dvh !important;
        background: #2E3A78;
        background: linear-gradient(180deg, rgba(46, 58, 120, 1) 0%, rgba(46, 58, 120, 1) 50%, rgba(113, 157, 209, 1) 100%);
        color: #fff !important;
        padding-left: 1rem !important;
        justify-content: center !important;
        pointer-events: none !important;
        -webkit-box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.6);
        box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.6);
    }
    header .right li a {
        color: #fff;
    }
}
@media (max-width: 600px) {
    header {
        padding: 1rem 1rem;
    }
    header a.logo img {
        width: 200px;
    }
    header a.logo {
        padding-left: 0;
    }
}