section.area-lead {
    width: 100%;
    min-height: 280px;
    background-image: url("../img/lead/background-home.webp");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section.area-lead .content {
    padding: 1rem;
    position: relative;
    z-index: 1;
}
section.area-lead h2 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
section.area-lead h2 span {
    display: block;
    font-weight: 700;
}
section.area-lead form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
section.area-lead .item-input label {
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    color: #fff;
}
section.area-lead input[type="text"] {
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    box-shadow: none !important;
    outline: none !important;
    font-size: 0.75rem;
    border: 1px solid transparent;
}
section.area-lead .item-input input:focus {
    border-color: var(--color-blue);
}
section.area-lead .box-lead {
    max-width: 560px;
}
section.area-lead .area-termos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
section.area-lead .area-termos input {
    cursor: pointer;
}
section.area-lead .area-termos a {
    color: #fff;
    border-bottom: 1px solid #fff;
}
section.area-lead .area-termos a:hover {
    transition: .3s;
    color: var(--color-blue);
    border-color: var(--color-blue);
}
section.area-lead button.btn-lead {
    background-color: #fff;
    color: var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 120px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 1.15rem;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    padding: 7px 10px;
}
section.area-lead button.btn-lead:hover {
    transition: .3s;
    background-color: #cccccc;
}
@media (max-width: 1020px) {
    section.area-lead .content {
        padding: 2rem 1rem;
    }
    section.area-lead .box-lead {
        max-width: 100%;
    }
    section.area-lead h2 {
        text-align: center;
        margin-bottom: 1rem;
    }
    section.area-lead h2 span {
        display: inline-block;
    }
    section.area-lead .area-termos label {
        text-align: left;
    }
}