main.quem-sou {
    background-image: url("../img/quem-sou/background.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 500px;
}
main.quem-sou .content {
    display: flex;
    justify-content: center;
    padding: 4rem 1rem 1rem;
    position: relative;
}
main.quem-sou .content > .left {
    padding: 2rem;
    border-left: 4px solid var(--color-blue);
    height: max-content;
    width: 100%;
}
main.quem-sou .content > .left .item-text {
    background-color: #fff;
    color: var(--color-blue);
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.3;
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}
main.quem-sou .content > .left .item-text p {
    max-width: calc(100% - 250px);
}
main.quem-sou .content > .right {
    position: absolute;
    right: 1rem;
    top: 2rem;
}
section.mini-curriculo .content {
    padding: 3rem 1rem;
    color: var(--color-blue);
}
section.mini-curriculo h1.title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1.5rem;
    padding-bottom: 5px;
    position: relative;
}
section.mini-curriculo h1.title::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 190px;
    height: 5px;
    background-color: var(--color-bege);
    pointer-events: none;
}
section.mini-curriculo .content p {
    font-size: 0.9rem;
    font-weight: 700;
}
.mini-curriculo .animate:nth-child(1) { transition-delay: 0.2s; }
.mini-curriculo .animate:nth-child(2) { transition-delay: 0.4s; }
.mini-curriculo .animate:nth-child(3) { transition-delay: 0.6s; }
.mini-curriculo .animate:nth-child(4) { transition-delay: 0.8s; }
.mini-curriculo .animate:nth-child(5) { transition-delay: 0.9s; }
.mini-curriculo .animate:nth-child(6) { transition-delay: 1s; }
.mini-curriculo .animate:nth-child(7) { transition-delay: 1.1s; }
@media (max-width: 1000px) {
    main.quem-sou .content {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 1rem 1rem;
    }
    main.quem-sou .content > .right {
        position: relative;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    main.quem-sou .content > .left .item-text p {
        max-width: 100%;
    }
    main.quem-sou .content > .left {
        padding: 1rem 0 0 1rem;
    }
    section.mini-curriculo .content p {
        margin-bottom: 1rem;
    }
    section.mini-curriculo .content {
        padding: 1rem 1rem;
    }
}
@media (max-width: 400px) {
    main.quem-sou .content > .right img {
        width: 100%;
        height: auto;
    }
}