#popup {
    display: none;
    z-index: 99999;
    position: fixed;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    color: #000 ;
    -webkit-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.6);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    margin-bottom: 50px;
    z-index: 9999;
    border-radius: 15px;
}
#popup .content-wrapper{
    display: flex;
    align-items: center;
    gap: 15px;
}
#popup .content-wrapper .icon{
    clip-path: circle();
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    background-color: #EFF0F6;
}
#popup .content-wrapper .icon svg{
    fill: #A0A3BD;
    transform: scale(1.5);
}
#popup .content-wrapper h3{
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
}
#popup .content-wrapper p{
    pointer-events: none;
    width: 450px;
    font-size: 16.67px;
    line-height: 1.3;
}
#popup .content-wrapper p a{
    pointer-events: all;
    font-size: 16.67px;
    text-decoration: underline;
}
#popup .content-wrapper .buttons{
    display: flex;
    align-items: center;
    gap: 30px;
}
#popup .content-wrapper a.btn-privacy{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    cursor: pointer;
    background: var(--verde);
    color: #fff;
    border: 1px solid #0000002f;
    outline: none;
    padding: 3px 22px;
    font-size: 15px;
    border-radius: 5px;
    transition: all .5s ease-out;
    font-size: 16.67px;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.3);
}
#popup .content-wrapper a.btn-privacy:hover{
    filter: saturate(2);
}
#popup .content-wrapper .buttons .close{
    cursor: pointer;
    font-size: 20.83px;
    font-weight: 300;
}
div#modal-exit{
    display: none;
}
div.all-modal{
    position: absolute;
    z-index: 9000;
}
div.all-modal > .underlay{
    position: fixed;
    background-color: rgba(55, 55, 55, 0.7);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
div.all-modal .modal{
    border-radius: 15px;
    padding: 30px;
    position: relative;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    width: calc(100% - 2rem);
    max-width: 580px;
    height: auto;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde);
    color: #fff;
}
div.all-modal .modal i.icon-close-popup{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    margin: 30px;
}
div.all-modal .modal .logo{
}
div.all-modal .modal .logo img{
    max-width: 220px;
    object-fit: cover;
    width: auto;
    height: 110px;
}
div.all-modal .modal .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    width: 100%;
}
div.all-modal .modal .wrapper .image-email {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.all-modal .modal .wrapper .image-email img{
    width: 150px;
    height: auto;
    object-fit: cover;
}
div.all-modal .modal .modal-content {
    width: 100%;
}
div.all-modal .modal .modal-content h2{
    font-weight: 600;
    font-size: 25px;
    line-height: 1;
    margin-bottom: 10px;
}
div.all-modal .modal .modal-content p{
    margin-bottom: 2rem;
    font-size: 15px;
}
div.all-modal .modal form{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
div.all-modal .modal form .col-2{
    display: flex;
    gap: 10px;
}
div.all-modal .modal form input[type="text"]:focus,
div.all-modal .modal form input[type="email"]:focus{
    border: 1px solid #000000c0;
    
}
div.all-modal .modal form input[type="text"],
div.all-modal .modal form input[type="email"]{
    padding: 0 15px;
    width: 100%;
    height: 38px;
    border-radius: 4px;
    border: 1px solid #0000006b;
    outline: none;
    transition: all .5s ease-in-out;

}
div.all-modal .modal form .terms{
    margin-bottom: 10px;
    display: flex;
    align-items: start;
    gap: 5px;
}
div.all-modal .modal form .terms input{
    transform: translateY(3px);
}
div.all-modal .modal form .terms label{
    font-size: 11px;
}
div.all-modal .modal form .terms label a{
    text-decoration: underline;
}
div.all-modal .modal form button{
    height: 42px;
    cursor: pointer;
    background: #666652;
    color: #fff;
    border: 1px solid #0000002f;
    outline: none;
    padding: 3px 22px;
    font-size: 15px;
    border-radius: 5px;
    transition: all .5s ease-out;
}
div.all-modal .modal form button:hover{
    filter: saturate(2);
}
@media(max-width: 1100px){
    #popup{
        width: 100%;
        left: 50%;
        margin: 20px auto;
        transform: translateX(-50%) scale(0.8);
    }
    #popup .content-wrapper{
        flex-direction: column;
    }
    #popup .content-wrapper p{
        width: 100%;
    }
}
@media (max-width: 390px) {
    div.all-modal .modal form .col-2 {
        flex-direction: column;
        gap: 15px;
    }
    div.all-modal .modal .logo img {
        height: 80px;
    }
}